## Pré-processamento de dados

- Vem antes da análise exploratória
- É a fase em que machine learning é testado
- cada conjunto de dados apresenrtam diferentes caracteristicas
- Dados estruturados qualitativos (nominais ou ordinais), ou não estruturados(e-amils, áudios, vídeos, etc.).
- Dados podem ter imperfeições, duplicados, ausentes, etc.
- Técnicas de pré-processamento, tem como objetivo melhorar a qualidade dos dados e eliminar elementos que podem criar falsos resultados. Também pode ajustar dados para um uso mais adequado.
- É importante conhecer os tipos de dados, para poder identificae as necessidades de ajustes.

#### Técnicas de processamento

- __Objeto__ -> geralmente se refere a um registro de uma tabela
- __Conjunto de objetos__ -> pode ser compreendido como um conjunto de registros, uma tabela ou planilha.
- __Atributos__ -> são variáveis ou os campos de uma tabela, e as colunas de uma planilha.

#### Eliminação manual de atributos

- Alguns atributos podem ser eliminados manualmente. Ex: se tiver duas colunas de datas iguais, pode remover uma.
- Retirar os atributos pode estar relacionado, por exemplo, a anonimização de uma base(nome não é necessário).
- Em analises preditivas, quando um atributo não contribui para a estimativa de um valor, e é irrelevante para análise, ele deve ser eliminado.
- Atributos com o mesmo valor para todos os objetos também devem ser elimidados. Ex: o campo cidade em uma base que analisa dados de uma determinada cidade.

#### Amostragem de dados

- Quando tem um modelo com muitos dados, é necessário muito processamento.
- Quanto mais dados, maior tende ser a acurácia do modelo e menor a eficiência.
- As vezes é necessário trabalhar com uma amostragem de dados, representa o suficiente para usar.
- __Amostra Progressiva__ -> Começa pequena e aumenta progressivamente, enquanto a acurácia continua a melhorar, até um pontop que não há mais evolução.

#### Dados Desbalanceados 

Ex: Ingerssos vendidos para um show saõ 80% de uma área e os outros estão distribuídos entre as demais áreas.

 - Esse desbalanceamento, afeta o desempenho de algoritimos de ML, fazendo com que sejam favorecidos a classificação de novos dados na classe majoritária.
 - Redefinir o tamanho do conjunto de dados, induzir o modelo para uma classe são técnicas que podem ser utilizadas.
 - Algumas situações incluem técnicas de classificação com apenas uma classe, ou dados são treinados separadamente por classe.

#### Limpeza de Dados

- A qualidade do modelo é impactada pela qualidade dos dados.
- Tipos:
    - __Dados ruidosos__(aqueles que possuem erros ou valores diferentes do esperado);
    - __inconsistentes__(que não combinam ou contradizem valores de outros do mesmo objeto);
    - __redundantes__(Atributos com valores repetidos no mesmo objeto);
    - __incompletos__(com ausência de valores).
- Esses problemas são causados por problemas nos equipamentos que coletam os dados, na tranmissão ou armazenamento, no preenchimento manual ou até em processos de integração.

#### Dados incompletos

|Idade | Sexo | Peso | Manchas | Temp. | # Int | diagnóstico|
| --------| --------|--------| --------| --------| --------|--------|
|-|M|79|-|38,8|-|Doente|
|18|F|67|Inexistente|39,5|4|Doente|
|49|M|92|Espalhadas|38,0|2|Saudável|

- A ausência de alguns valores pode ter diferentes causas:
    - Atributo não considerado importante;
    - Desconhecimento do valor do atributono preenchimento;
    - Distração no preenchimento;
    - Inexistência de valor para o atributo em alguns registros(quantidade de partos para o gênero masculino);
    - Problema no equipamento utilizado na coleta.

- Técnicas que podem ser utilizadas:
    - Eliminar objetos com valores ausentes(é descartado quando poucos atributos do obejto tem valores ausentes).
    - Definir e preencher manualmente valores para atributos com valores ausentes
    - Usar algum metódo ou heurística para automaticamente definir valores:
        - Importante definir um valor onde saiba-se que era um valor ausente anteriormente.
        - Utilizar média, moda ou mediana dos valores conhecidos(CUIDADO!!!)
        - Definir um indutor baseado em outros atributos.  


#### Dados inconsistentes 

- Dados que possuem valores conflitantes em seus atributos:
    - Ex: idade 3, peso 120; Volta de 5s em um circuito de fórmula 1, com 3,5 km.
    - Ex2: uso de escalas diferentes para fazer referência a uma mesma medida(m e cm).
-  Podem ser reconhecidas quando relações entre atributos são claramente conhecidas(valores correlacionados direta ou indiretamente).
- Algoritmos simples podem verificar existência de inconsistências, em caso de conjunto de dados não muito grandes, dados inconsistentes podem ser removidos manualmente. 

#### Dados redundantes

- Um objeto redundante é um objeto que é muito semelhante a outro no mesmo conjunto de dados.
- É considerado redundante quando ele pode ser deduzido a partir do valor de um ou mais atributos. Dois ou mais atributos estão correlacionados quando apresentam um perfil de variação semelhante para os diferentes objetos.
- Criam a falsa sensação de que esse perfil de objeto é mais importante que os demais, induzindo o modelo de analise.
- É sempre importante identiicar redundâncias, que podem ser feitas pela eliminação dos objetos semelhantes ou pela combinação dos valores dos atributos dos objetos semelhantes.

## Parte 2

#### Dados com ruídos

- São dados qu e contem objetos que aparentemente , não pertencem  à distribuição que gerou esses dados.
- Pode ser uma variância ou erro aleatório no valor gerado de um atributo.
- Um indicador de presença de ruídos é a existência de __outliers__, que são valores que estão além dos limites aceitáveis ou são muito diferentes dos demais valores observados, exemplo exceções raramente vistas.

|Idade | Sexo | Peso | Manchas | Temp. | # Int | diagnóstico|
| --------| --------|--------| --------| --------| --------|--------|
|-|M|79|-|38,8|-|Doente|
|18|F|__300__|Inexistente|39,5|4|Doente|
|49|M|92|Espalhadas|38,0|2|Saudável|

##### Técnicas de pré-processamento:
- __Técnicas de encestamento:__ Suavizam o valor de um atributo. Primeiro são ordenados, depois são divididos em faixas, e esses valores são substituidos por uma média ou mediana.
- __Técnicas de Agrupamento:__ Valores que não formam grupos são considerados ruidosos ou outliers.
- __Técnicas de regressão ou classificação:__ Procuram determinar um valor verdadeiro para um outlier. 

#### Transformações de dados

- Algumas tecnicas de ML são limitadas a manipulação de valores em determinados tipos.
- Dependendo do modelo de ML, é necessário converter os dados qualitativos para númericos e vice-versa.
- Ex: Redes neurais artificiais e Support Vector Machines, lidam apenas com valores numéricos.
- As vezes necessário transformar de valor númerico em outro valor numérico. ocorre quando os limites inferiores e superiores dos atributos são diferentes, o que leva a uma grande variação de valores, ou quando vários atributos estão em escalas diferentes.
- transformação para evita que um atributo predomine sobe os outros.
- Normalização: determina uma escala e distribui esses valores nela para reduzir discrepancias.

#### redução de dimencionalidade

- __dimensionalidade:__ é o tamanho horizontal(dimensão de um objeto)
 - Ex: cada pixel de uma imagem representa um atributo. genética dos dados apresentam milhares de atributos.
- Reduzir atributos melhora o desempenho, reduz o custo operacional e dá resultados mais compreensíveis. Técnicas mais utilizadas: __Agregação e seleção de atributos__
    - __Agregação:__ Substitui os atributos originais por novos atributos formados pela combinação de grupos. Análise de Componetes Principais(PCA)
    - __Seleção de Atributos:__ Mantêm uma parte dos atributos originais e descartam os demais atributos.

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/refs/heads/master/atp_matches_2021.csv')

In [3]:
dados.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2733 non-null   object
 1   tourney_name        2733 non-null   object
 2   surface             2733 non-null   object
 3   draw_size           2733 non-null   int64
 4   tourney_level       2733 non-null   object
 5   tourney_date        2733 non-null   int64
 6   match_num           2733 non-null   int64
 7   winner_id           2733 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2733 non-null   object
 11  winner_hand         2733 non-null   object
 12  winner_ht           2731 non-null   float64
 13  winner_ioc          2733 non-null   object
 14  winner_age          2733 non-null   float64
 15  loser_id            2733 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2733 non-null   object
 19  loser_hand          2733 non-null   object
 20  loser_ht            2718 non-null   float64
 21  loser_ioc           2733 non-null   object
 22  loser_age           2733 non-null   float64
 23  score               2733 non-null   object
 24  best_of             2733 non-null   int64
 25  round               2733 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2729 non-null   float64
 46  winner_rank_points  2729 non-null   float64
 47  loser_rank          2707 non-null   float64
 48  loser_rank_points   2707 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [5]:
dados.describe(include='all')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2733,2733,2733,2733.000000,2733,2.733000e+03,2733.000000,2733.000000,1165.000000,417,...,2636.000000,2636.000000,2636.000000,2637.000000,2636.000000,2636.000000,2729.000000,2729.000000,2707.000000,2707.000000
unique,114,114,3,NaN,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-580,Australian Open,Hard,NaN,A,NaN,NaN,NaN,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,127,127,1608,NaN,1569,NaN,NaN,NaN,NaN,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,62.609587,NaN,2.021060e+07,243.248811,127500.755946,7.687554,NaN,...,50.118361,33.325493,14.494689,12.420554,4.843323,8.714719,70.593624,2229.913888,103.034355,1390.971555
std,NaN,NaN,NaN,41.521804,NaN,2.855522e+02,73.915192,33930.996942,7.133621,NaN,...,19.075552,14.205041,6.857036,4.224477,3.253624,4.126347,103.028379,2484.822372,149.125316,1460.007475
min,NaN,NaN,NaN,2.000000,NaN,2.021010e+07,1.000000,100644.000000,1.000000,NaN,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,32.000000,NaN,2.021032e+07,224.000000,105575.000000,3.000000,NaN,...,36.000000,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,858.000000,37.000000,709.000000
50%,NaN,NaN,NaN,64.000000,NaN,2.021061e+07,276.000000,106432.000000,6.000000,NaN,...,47.000000,31.000000,14.000000,11.000000,4.000000,8.000000,47.000000,1344.000000,68.000000,993.000000
75%,NaN,NaN,NaN,128.000000,NaN,2.021082e+07,289.000000,128034.000000,10.000000,NaN,...,61.000000,42.000000,18.000000,15.000000,7.000000,11.000000,87.000000,2423.000000,112.000000,1595.000000
max,NaN,NaN,NaN,128.000000,NaN,2.021120e+07,300.000000,210107.000000,32.000000,NaN,...,165.000000,104.000000,48.000000,31.000000,27.000000,38.000000,1758.000000,12113.000000,2146.000000,12113.000000

In [6]:
dados.isnull()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2729,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2730,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2731,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2732,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False

Verificar valores nulos  na coluna

In [7]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1568
winner_entry          2316
winner_name              0
winner_hand              0
winner_ht                2
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2040
loser_entry           2098
loser_name               0
loser_hand               0
loser_ht                15
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 83
w_ace                   97
w_df                    97
w_svpt                  97
w_1stIn                 97
w_1stWon                97
w_2ndWon                97
w_SvGms                 96
w_bpSaved               97
w_bpFaced               97
l_ace                   97
l_df                    97
l_svpt                  97
l_1stIn                 97
l_1stWon                97
l_2ndWon                97
l_SvGms                 96
l_bpSaved               97
l_bpFaced               97
winner_rank              4
winner_rank_points       4
loser_rank              26
loser_rank_points       26
dtype: int64

Verificar coluna 'winner_entry', que tem muitos valores nulos e indica como o vencedor entrou no torneio

In [10]:
dados['winner_entry'].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [9]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'LL', 'SE', 'Alt', 'PR'], dtype=object)

Apagar linhas que o atruibuto 'loser_rank' é nulo

In [11]:
dados.dropna(subset=['loser_rank'], inplace=True)

Apagar colunas que todos os valores são nulos

In [12]:
dados.dropna(axis=1, how='all')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

Alterar valor dos dados nulos em uma coluna

In [14]:
dados['loser_entry'].unique()

array(['x', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [ ]:
dados['loser_entry'].fillna(value='x', inplace=True)
dados['loser_entry'].unique()

array(['x', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

Alterar mais de um atributo, com condições diferentes

In [15]:
dados['w_ace'].unique()

array([nan,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22.,  0., 23., 21.,
       32., 26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31.,
       36.])

In [16]:
dados['loser_ht'].unique()

array([180., 183., 185., 193., 191., 173., 170., 188., 178., 196., 198.,
       175., 181., 211., 208., 201., 190., 203.,  nan, 189.,  15.])

In [17]:
dados.fillna(value={'w_ace':0, 'loser_ht':dados['loser_ht'].mean()}, inplace=True)

In [18]:
dados['w_ace'].unique()

array([ 0.,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22., 23., 21., 32.,
       26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31., 36.])

In [19]:
dados['loser_ht'].unique()

array([180.        , 183.        , 185.        , 193.        ,
       191.        , 173.        , 170.        , 188.        ,
       178.        , 196.        , 198.        , 175.        ,
       181.        , 211.        , 208.        , 201.        ,
       190.        , 203.        , 186.73409763, 189.        ,
        15.        ])

Usar metodo ffill para projetar um dados para o registro seguinte

In [20]:
dados['minutes'][1975:1990]

1978     67.0
1979    129.0
1980     91.0
1981    140.0
1982     83.0
1983     74.0
1984     90.0
1985     71.0
1986    124.0
1987    140.0
1988    169.0
1989     59.0
1990    130.0
1991    116.0
1992    102.0
Name: minutes, dtype: float64

In [29]:
dados['minutes'].fillna(method='ffill', inplace=True)

C:\Users\annas\AppData\Local\Temp\ipykernel_14468\1354112792.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['minutes'].fillna(method='ffill', inplace=True)
C:\Users\annas\AppData\Local\Temp\ipykernel_14468\1354112792.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dados['minutes'].fillna(method='ffill', inplace=True)

In [30]:
dados['minutes'][1975:1990]

1978     67.0
1979    129.0
1980     91.0
1981    140.0
1982     83.0
1983     74.0
1984     90.0
1985     71.0
1986    124.0
1987    140.0
1988    169.0
1989     59.0
1990    130.0
1991    116.0
1992    102.0
Name: minutes, dtype: float64

Identificar dados duplicados

In [23]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Length: 2707, dtype: bool

In [24]:
dados.duplicated().sum()

0

Eliminar duplicados (tomar cuidado ao utilizar isso)

In [ ]:
dados.drop_duplicates(subset=['tourney_name'], inplace=True)

In [ ]:
dados['tourney_name'].head(10)

In [ ]:
dados.describe()

Deslocamento

Dados importados ações da Apple:

https://finance.yahoo.com/quote/AAPL/history/

In [ ]:
d2 = pd.read_csv('AAPL.csv')

In [ ]:
d2

In [ ]:
d2['close_ontem'] = d2['Close'].shift(1)

In [ ]:
d2['alteracao %'] = ((d2['Close']/d2['close_ontem'])-1)*100

In [ ]:
d2.head(20)

In [ ]:
d2.dropna(subset=['alteracao %'], inplace=True)

In [ ]:
d2

In [ ]:
d2.describe('all')

transformar dados (qualitativos)

In [32]:
d1 = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/refs/heads/master/atp_matches_2021.csv')

In [33]:
d1['winner_ioc']

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2733, dtype: object

In [34]:
d1['winner_ioc'].unique()

array(['USA', 'GER', 'IND', 'AUS', 'CZE', 'KAZ', 'SRB', 'BLR', 'COL',
       'CRO', 'FRA', 'GBR', 'GEO', 'ESP', 'ITA', 'RUS', 'ARG', 'POL',
       'JPN', 'GRE', 'URU', 'LTU', 'NOR', 'SVK', 'CAN', 'BEL', 'NED',
       'AUT', 'SWE', 'CHI', 'RSA', 'TPE', 'FIN', 'SUI', 'DEN', 'HUN',
       'BUL', 'SLO', 'BIH', 'POR', 'MEX', 'ECU', 'PER', 'BRA', 'BOL',
       'UKR', 'MDA', 'TUN', 'KOR', 'TUR', 'ISR', 'ROU', 'BAR', 'INA',
       'DOM', 'ESA', 'PAR', 'THA'], dtype=object)

Olhar documentação scikit-learn

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
paises = d1['winner_ioc']

In [37]:
paises

0       USA
1       GER
2       IND
3       AUS
4       CZE
       ...
2728    ITA
2729    RUS
2730    RUS
2731    GER
2732    NOR
Name: winner_ioc, Length: 2733, dtype: object

In [38]:
lencoder = LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros

array([57, 24, 28, ..., 45, 24, 38])

In [39]:
paises.head(10)

0    USA
1    GER
2    IND
3    AUS
4    CZE
5    KAZ
6    GER
7    SRB
8    USA
9    BLR
Name: winner_ioc, dtype: object

In [40]:
d1['paises_numeros']=paises_numeros

In [41]:
d1

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,paises_numeros
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0,57
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0,24
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0,28
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0,1
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0,30
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0,45
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0,45
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0,24
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0,38